
body {
  background-color: var(--product-achtergrond);
}

main > section:first-of-type {
  background-color: #000;
  display: flex;
  flex-direction: column;
}

main > section:first-of-type > h1 {
  display: flex;
  font-family: var(--font-kopjes);
  font-size: 1.7em;
  color: var(--tekst-kleur-licht);
  text-align: center;
  height: 4em;
  align-items: center;
  justify-content: center;
}


main > section:first-of-type > img {
  display: none;
}


main > section:first-of-type > ul {
  background-color: var(--header-footer-2ekleur);
  padding: 1em;
  display: flex;
  gap: 1.3em;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

main > section:first-of-type > ul li a {
  color: var(--tekst-kleur-licht);
  font-size: 0.9em;
  font-family: var(--font-kopjes);
  letter-spacing: 0.03em;
}


main > section:nth-of-type(2) {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: auto;
  align-items: center;
  padding: 1.5em;
  background-color: var(--product-kleur);
}

main > section:nth-of-type(2) > h2 {
  grid-column: 1 / -1;
}

main > section:nth-of-type(2) > button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  letter-spacing: 0.1em;
}

main > section:nth-of-type(2) > button img {
  width: 1.6em;
}

main > section:nth-of-type(2) > button:first-of-type {
  grid-column: 1;
  color: var(--product-tekst);
  text-transform: uppercase;
}

main > section:nth-of-type(2) > p {
  grid-column: 2;
  text-align: center;
  color: var(--product-tekst);
  letter-spacing: 0.1em;
}

main > section:nth-of-type(2) > button:nth-of-type(2) {
  grid-column: 3;
  justify-self: end;
  background-color: var(--header-footer-2ekleur);
  color: var(--tekst-kleur-licht);
  padding: 0.7em;
  padding-left: 1.3em;
}


main > section:nth-of-type(2) > select {
  grid-column: 3;
  justify-self: end;
}

main > section:nth-of-type(3) ul li:first-child {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--product-achtergrond);
  padding: 1.5em;
}

main > section:nth-of-type(3) ul li:first-child > h4 {
  font-family: var(--font-kopjes);
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: var(--product-tekst);
  margin-bottom: 0.7em;
}

main > section:nth-of-type(3) ul li:first-child > p:first-of-type {
  font-size: 0.8em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: var(--product-tekst);
}

main > section:nth-of-type(3) ul li:first-child > img {
  width: 100%;
  max-width: 20em;
  height: auto;
  align-self: center;
}

main > section:nth-of-type(3) ul li:first-child > a {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--kleur-h2);
  text-decoration: underline;
  margin: 1em 0;
}

main > section:nth-of-type(3) ul li:first-child > p:last-of-type {
  font-size: 0.8em;
  color: var(--product-tekst);
  line-height: 1.4;
  margin-top: 1em;
}





main > section:nth-of-type(3) > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1em;
}

main > section:nth-of-type(3) > ul > li:not(:first-child) article {
  display: grid;
  grid-template-columns: 2fr auto;
  grid-template-rows: auto auto auto auto;
  background-color: var(--product-kleur);
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  border-radius: 0.2em;
}

main > section:nth-of-type(3) > ul > li:not(:first-child) article > img {
  grid-row: 1;
  grid-column: 1 / -1;
  width: 100%;
  background-color: var(--product-achtergrond);
}

main > section:nth-of-type(3) > ul > li:not(:first-child) article h4 {
  grid-row: 2;
  grid-column: 1 / -1;
  padding: 0.8em;
  font-size: 1.35em;
  font-family: var(--font-kopjes);
  color: var(--product-tekst);
}

main > section:nth-of-type(3) > ul > li:not(:first-child) article p:nth-of-type(1) {
  grid-row: 3;
  grid-column: 1;
  font-size: 1em;
  padding: 0 0.8em 0.8em 0.8em;
  color: var(--product-tekst);
}


main > section:nth-of-type(3) > ul > li:not(:first-child) article p:nth-of-type(2) {
  grid-row: 4;
  grid-column: 1 / -1;
  font-size: 1.25em;
  font-family: var(--font-kopjes);
  padding: 0.8em;
  color: var(--product-tekst);
}


main > section:nth-of-type(3) > ul > li:not(:first-child) article button {
  grid-row: 3 / 5;
  grid-column: 2;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 0.07em solid var(--detail-kleur);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  margin: 0 0.8em 0.8em 0;
}

main > section:nth-of-type(3) > ul > li:not(:first-child) article button img {
   width: 1.5em;
}



main > section:nth-of-type(3) > ul > li:not(:first-child) article button:hover {
  background-color: var(--Footer-h2-kleur);
  transition: 0.1s ease;
}

main > section:nth-of-type(3) > ul > li:not(:first-child) article button:active {
  transform: scale(1.15);
}



@media (prefers-color-scheme: dark) {
  main > section:nth-of-type(3) > ul > li:not(:first-child) article button img {
    filter: invert(1);
  }
}

main > section:nth-of-type(3) > ul > li:not(:first-child) article button:hover {
  background-color: var(--Footer-h2-kleur);
  transition: 0.1s ease;
}

main > section:nth-of-type(3) > ul > li:not(:first-child) article button:active {
  transform: scale(1.15);
}




main > section:nth-of-type(4) {
  text-align: center;
  padding: 3em;
}

main > section:nth-of-type(4) > p {
  letter-spacing: 0.05em;
  font-size: 0.9em;
  color: var(--tekst-kleur);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
}


main > section:nth-of-type(4) > button {
  display: block;
  margin: 0 auto;
  padding: 1.2em 4em;
  border: 1px solid var(--detail-kleur);
  background-color: transparent;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--tekst-kleur); 
}

main > section:nth-of-type(4) > button:hover {
  background-color: var(--detail-kleur);
}


@media (min-width: 760px) {
  main > section:nth-of-type(3) > ul {
    grid-template-columns: repeat(3, 1fr);
  }

}


@media (min-width: 1200px) {
  main > section:nth-of-type(3) > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (max-width: 400px) {
  main > section:nth-of-type(3) > ul {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 400px) {
  main > section:nth-of-type(2) {
    grid-template-columns: 1fr 1fr;
    gap: 0.6em;
  }

  main > section:nth-of-type(2) > select {
    grid-column: 1 / -1;
    text-align: center;
  }
}

@media (min-width: 760px) {

  main > section:first-of-type {
    position: relative;
  }

  main > section:first-of-type > img {
    display: block;
    width: 100%;
    height: 75vh;
    object-fit: cover;
  }

  main > section:first-of-type > h1 {
    position: absolute;
    top: 40%;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.1em;
    padding-left: 1em;
    font-size: 4em;
    color: var(--tekst-kleur-licht);
    width: 8em;
    height: auto;
    z-index: 10;
  }

}


@media (prefers-color-scheme: dark) {
  main > section:nth-of-type(2) img:first-of-type {
    filter: invert(1);
  }

}

main > section:nth-of-type(4) > h4 {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  font-size: 0.01em;
}